flows_raspberrypi.json
[{"id":"c4022025.8b752","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4d14d693.2625a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bc1b1f33.3f0eb","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"b275490c.d8fd98","type":"mqtt-broker","z":"","name":"raspi","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"8e48dd1.c50c2a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"74336437.c9b90c","type":"ui_group","z":"","name":"Temperature Sensor","tab":"e0a7118.f68767","disp":true,"width":"6","collapse":false},{"id":"e0a7118.f68767","type":"ui_tab","z":"","name":"Lighting","icon":"dashboard","disabled":false,"hidden":false},{"id":"9e69210d.991f3","type":"ui_tab","z":"","name":"Weather Forecast","icon":"dashboard","disabled":false,"hidden":false},{"id":"835fcff2.404af8","type":"ui_group","z":"","name":"LightingON/OFF(CoolingSystem)","tab":"e0a7118.f68767","disp":true,"width":"6","collapse":false},{"id":"3f3eeafe.2bef9e","type":"ui_group","z":"","name":"Weather","tab":"9e69210d.991f3","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ba6a850.836f68","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"iotdata","tz":""},{"id":"5e22ca8.8199834","type":"arduino in","z":"c4022025.8b752","name":"tempSensor","pin":"0","state":"ANALOG","arduino":"bc1b1f33.3f0eb","x":90,"y":60,"wires":[["70c1dc6b.c7d81c"]]},{"id":"2170ffa6.d21e88","type":"mqtt out","z":"c4022025.8b752","name":"temperaturePublish","topic":"temp","qos":"0","retain":"false","broker":"b275490c.d8fd98","x":810,"y":60,"wires":[]},{"id":"d3cd6c33.7fa2d","type":"mqtt in","z":"c4022025.8b752","name":"tempSubscribe","topic":"temp","qos":"2","broker":"b275490c.d8fd98","x":117.5,"y":157,"wires":[["e37ee01d.f85658","53d5ae7d.4cd05"]]},{"id":"d7f338db.8bdd9","type":"arduino out","z":"c4022025.8b752","name":"Led","pin":"10","state":"OUTPUT","arduino":"bc1b1f33.3f0eb","x":860.75,"y":249.25,"wires":[]},{"id":"1b41c06d.7579a8","type":"arduino out","z":"c4022025.8b752","name":"LedGreen","pin":"9","state":"OUTPUT","arduino":"bc1b1f33.3f0eb","x":859.5,"y":159,"wires":[]},{"id":"e37ee01d.f85658","type":"switch","z":"c4022025.8b752","name":"ledOnOrOff","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"19","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":347.5,"y":157,"wires":[["12fcf62a.bee022"]]},{"id":"12fcf62a.bee022","type":"trigger","z":"c4022025.8b752","op1":"on","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":630.5,"y":158,"wires":[["1b41c06d.7579a8"]]},{"id":"dfbc8873.e5bac8","type":"openweathermap in","z":"c4022025.8b752","name":"weatherForecast","wtype":"current","lon":"","lat":"","city":"Vantaa","country":"Finland","language":"en","x":100,"y":365,"wires":[["44af4b84.bcba94","9f27025b.10d868","1c27f80d.c013b","cc3d9165.758d5","5d3cf982.1a5b7","2727daee.f7265e"]]},{"id":"9f27025b.10d868","type":"debug","z":"c4022025.8b752","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":300.5,"y":309,"wires":[]},{"id":"44af4b84.bcba94","type":"mqtt out","z":"c4022025.8b752","name":"forecastPublish","topic":"forecast","qos":"2","retain":"","broker":"b275490c.d8fd98","x":813.5,"y":359,"wires":[]},{"id":"16c12eff.374969","type":"mqtt in","z":"c4022025.8b752","name":"forecastSubscribe","topic":"forecast","qos":"2","broker":"b275490c.d8fd98","x":116.5,"y":250,"wires":[["b7915a01.301788"]]},{"id":"b7915a01.301788","type":"switch","z":"c4022025.8b752","name":"humidity","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"86","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":361.5,"y":250,"wires":[["d7f338db.8bdd9"]]},{"id":"53d5ae7d.4cd05","type":"ui_gauge","z":"c4022025.8b752","name":"tempGauge","group":"74336437.c9b90c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00B500","#E6E600","#CA3838"],"seg1":"20","seg2":"30","x":359.5,"y":204,"wires":[]},{"id":"d9bf8197.d4252","type":"ui_switch","z":"c4022025.8b752","name":"lightONorOff","label":"ManualSwitchON/OFF","tooltip":"","group":"835fcff2.404af8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":647.5,"y":218,"wires":[["1b41c06d.7579a8"]]},{"id":"c09b0e27.fe4038","type":"ui_switch","z":"c4022025.8b752","name":"","label":"CoolingSystemLedONorOff","tooltip":"","group":"835fcff2.404af8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":576.5,"y":288,"wires":[["d7f338db.8bdd9"]]},{"id":"1c27f80d.c013b","type":"function","z":"c4022025.8b752","name":"OutsideTemp","func":"msg.payload = msg.payload.tempc\n\nreturn msg;","outputs":1,"noerr":0,"x":445.5,"y":498,"wires":[["5e964b06.31ef1c"]]},{"id":"5e964b06.31ef1c","type":"ui_gauge","z":"c4022025.8b752","name":"outside Temp","group":"3f3eeafe.2bef9e","order":3,"width":0,"height":0,"gtype":"gage","title":"OutSide Temp","label":"units","format":"{{value}}","min":"-30","max":"30","colors":["#00B500","#E6E600","#CA3838"],"seg1":"5","seg2":"15","x":815.5,"y":512,"wires":[]},{"id":"cc3d9165.758d5","type":"function","z":"c4022025.8b752","name":"weather","func":"msg.payload = msg.payload.detail\nreturn msg;","outputs":1,"noerr":0,"x":437.5,"y":563,"wires":[["9836d8ea.89c53"]]},{"id":"9836d8ea.89c53","type":"ui_text","z":"c4022025.8b752","group":"3f3eeafe.2bef9e","order":1,"width":0,"height":0,"name":"Weather","label":"Current Weather","format":"{{msg.payload}}","layout":"col-center","x":829.5,"y":576,"wires":[]},{"id":"a80f881b.8f259","type":"ui_gauge","z":"c4022025.8b752","name":"humidity","group":"3f3eeafe.2bef9e","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"50","seg2":"75","x":817.5,"y":418,"wires":[]},{"id":"5d3cf982.1a5b7","type":"function","z":"c4022025.8b752","name":"humidityui","func":"msg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"x":442.5,"y":401,"wires":[["a80f881b.8f259"]]},{"id":"2727daee.f7265e","type":"function","z":"c4022025.8b752","name":"location","func":"msg.payload = msg.payload.location\nreturn msg;","outputs":1,"noerr":0,"x":443.5,"y":448,"wires":[["dba9be2.96c614"]]},{"id":"dba9be2.96c614","type":"ui_text","z":"c4022025.8b752","group":"3f3eeafe.2bef9e","order":2,"width":0,"height":0,"name":"loc","label":"Location","format":"{{msg.payload}}","layout":"col-center","x":824.5,"y":467,"wires":[]},{"id":"70c1dc6b.c7d81c","type":"function","z":"c4022025.8b752","name":"tempCalculation","func":"var arduinoA0 = msg.payload\n\nvar voltage = arduinoA0 * 5.0\n\nvar volts = voltage/1024.0\n\nvar temp = (volts-0.5)*100\n\nvar newMsg = {\"payload\":temp.toFixed(2)}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["106ba690.4e0a11","2170ffa6.d21e88"]]},{"id":"106ba690.4e0a11","type":"debug","z":"c4022025.8b752","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]}]